* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100vh;
}

h2 {
    margin-bottom: 32px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #111111;
    padding: 16px 48px;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 48px;
}

header img {
    width: 140px;
}

header nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

header a {
    color: #ebebeb;
    text-decoration: none;
    padding: 4px 0;
    transition: color 0.2s, border 0.2s;

}


header a:hover {
    color: #f13239;
    border-top: 1px solid #f13239;
}

.hero {
    height: 320px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: top center;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero h1 {
    color: #ebebeb;
}

.gallery {
    padding: 24px;
}

.gallery .container {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.gallery h2 {
    font-size: 24px;
}

.gallery h3 {
    font-size: 16px;
}

.gallery .container .card {
    flex: 1 1 200px;
}

.gallery img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.history {
    background-color: #111111;
    color: #ebebeb;
    padding: 24px;
}

.history p {
    margin-bottom: 24px;
    line-height: 28px;
}

.history a {
    color: #f13239;
    text-decoration: none;
    transition: color 0.2s;
}

.history a:hover {
    color: #ebebeb;
}

.history .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
    border-bottom: 1px solid #f13239;
}

.history .container div {
    flex: 1 1 450px;
}

.history img {
    max-width: 100%;
    display: block;
}



footer {
    background-color: #111111;
    color: #ebebeb;
    text-align: center;
    padding: 48px;
}

footer span {
    color: #f13239;
}






